export MINT_BACKEND_BOLT11_SAT=LndRestWallet
export MINT_LND_REST_ENDPOINT=https://localhost:8081
export MINT_LND_REST_CERT="../cashu-regtest/data/lnd-3/tls.cert"
export MINT_LND_REST_MACAROON="../cashu-regtest/data/lnd-3/data/chain/bitcoin/regtest/admin.macaroon"

export MINT_BACKEND_BOLT11_SAT="CoreLightningRestWallet"
export MINT_CORELIGHTNING_REST_URL=https://localhost:3001
export MINT_CORELIGHTNING_REST_MACAROON=../cashu-regtest-enviroment/data/clightning-2-rest/access.macaroon
export MINT_CORELIGHTNING_REST_CERT=../cashu-regtest-enviroment/data/clightning-2-rest/certificate.pem

