# Ignore all content in the data directory
data/*
mempool/mysql/*

# Exceptions for the boltz directory
!data/boltz/
!data/boltz/boltz.conf

# Exceptions for the electrs directory
!data/electrs/
!data/electrs/config.toml

# Ignore specific files and directories
.env
.python-version

