[ req ]
default_bits = 2048
default_keyfile = server.key
distinguished_name = req_distinguished_name
attributes = req_attributes

[ req_distinguished_name ]
countryName = US
countryName_default = US
stateOrProvinceName = Valencia
stateOrProvinceName_default = California
localityName = Springfield
localityName_default = San Francisco
organizationName = Satoshi
organizationName_default = Satoshi
commonName = ifuensan
commonName_max = 64

[ req_attributes ]
challengePassword = challengepassword
challengePassword_min = 4
challengePassword_max = 20

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = mydomain.com

